@CHARSET "ISO-8859-1";

/* 3 - CRUD & COMPOSED */
/* COMPOSED ENTITY */


/* CRUD MAIN */

div.class_CRUDMain table.area_0 {
    width: 100%;
}

.class_CRUDMain table.area_centerPanel {
    width: 100%;
}

.class_CRUDMain table.area_centerPanelLeft {
    width: 100%;
}

.class_CRUDMain input.field_totalItems {
	width: 50px;
	margin-left: 3px;	
}


.class_CRUDPaging .action_first button{
    background-image: url(../image/first.png);
}

.class_CRUDPaging .action_prev button{
    background-image: url(../image/prev.png);
}

.class_CRUDPaging .action_next button{
    background-image: url(../image/next.png);
}

.class_CRUDPaging .action_last button{
    background-image: url(../image/last.png);
}

.class_CRUDPaging .action_queryAll button{
    background-image: url(../image/queryall.png);
}

.class_CRUDMain .action_select button{
    padding-left: 20px;
    background-image: url(../image/yes.gif);
    background-repeat: no-repeat;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: white;
    margin-top: 2px;
}

/* SEARCH ENGINE */

.class_QueryCondition .action_addRight button{
	 background-image: url(../image/next.gif);
}

.class_QueryCondition .action_addLeft button{
	 background-image: url(../image/prev.gif);
}

.class_QueryCondition .action_remove button{
	 background-image: url(../image/remove.gif);
}

.class_QueryCondition .action_edit button{
	 background-image: url(../image/edit.gif);
}

.queryOperationAddOperator button{
	background-image: url(../image/add.gif);
}