/* DESIGNER */
.area_assistantToolbar .assistantRefresh a {
    padding-left: 22px;
    background-image: url(../image/assistantRefresh.png);
    background-repeat: no-repeat;
    height: 22px;
}

.area_assistantToolbar .assistantFormEditor a {
    padding-left: 22px;
    background-image: url(../image/assistantFormEditor.png);
    background-repeat: no-repeat;
    height: 22px;
}

.area_assistantToolbar .assistantEditor a {
    padding-left: 22px;
    background-image: url(../image/assistantEditor.png);
    background-repeat: no-repeat;
    height: 22px;
}

.area_assistantToolbar .assistantSource a {
    padding-left: 22px;
    background-image: url(../image/assistantSource.png);
    background-repeat: no-repeat;
    height: 22px;
}

table.area_assistantToolbar > tbody > tr > td > div > div.link {
    vertical-align: middle !important;
    margin-top: 0px !important;
}

table.area_assistantRoot {
    width: 100%;
}

div.className_ClusterPage .grid td {
    margin: 0;
}

div.className_ClusterPage table.area_actions > tbody > tr > td > div {
    margin: 0;
}

div.className_ClusterPage .area_actions {
    margin: 0;
}

div.className_ClusterPage .area_fields {
    margin: 0;
}

div.className_ClusterPage .area-row {
	margin: 0;
}

div.className_ClusterPage .colset-table > tbody > tr > td {
    padding: 0;
}

div.className_ClusterPage .grid-table {
	width: auto;
}

div.className_ClusterPage table.table_content {
	margin: 0;
}

div.className_ClusterPage a:HOVER {
	background-color: #fbf8cb;
}

.className_Object.className_ClusterPage a {
	line-height: normal;
}

div.className_ClusterPage .text,
div.className_ClusterPage .date,
div.className_ClusterPage .password,
div.className_ClusterPage .number,
div.className_ClusterPage .decimal,
div.className_ClusterPage .textarea {
    margin-right: 0;
}

div.className_Object.className_ClusterPage .save a {
	background-color: transparent;
}

div.className_ClusterPage div.link {
	margin: 0;
}

div.className_ClusterPage div.select,
div.className_ClusterPage div.text {
	margin: 2px;
	padding: 2px;
}

div.pre {
	color:#222222;
	font-family:"Lucida Console", "Courier New", Courier, monospace;
}

table#screen_main_popups_popup {
	min-width: 700px;
}

div.className_ClusterPage a.edit {
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: transparent;
	border: none;
	padding: 0;
}

/* SELECTION */
div.magmaselect> table>tbody>tr>td> table>tbody>tr>td> div> table>tbody>tr>td> table.area_children,
td.magmaselect> div> table>tbody>tr>td> table.area_children {
	background-color: #fbfbe8;
	border-color: #fcf6ae;
}

/* STYLE FOR SELECTIONS IN CLUSTER PAGE */

.transientmagmaselect, .stablemagmaselect {
	background-color: #faf06e;
	cursor: pointer;	
}

/* STYLE FOR AREAS IN CLUSTER PAGE */
div.className_MagmaComposition table.area_children {
	border: 1px solid #e0e0e0;
}

div.magmacolumn>table>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td>div>a.edit
	{
	background-image: url(../image/row.png);
}
div.magmaselect> table>tbody>tr>td> table>tbody>tr>td> div.magmacolumn> table>tbody>tr>td> table>tbody>tr>td>table>tbody>tr>td>div>a.edit,
td.magmaselect>div.magmacolumn>table>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td>div>a.edit,
div.magmacolumn>table>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td>div>a.edit:HOVER,magmacolumn a.edit:FOCUS
	{
	background-image: url(../image/rowblack.png);
}

div.magmarow>table>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td>div>a.edit
	{
	background-image: url(../image/col.png);
}
div.magmaselect>table>tbody>tr>td>table>tbody>tr>td>div.magmarow>table>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td>div>a.edit,
td.magmaselect>div.magmarow>table>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td>div>a.edit,
div.magmarow>table>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td>div>a.edit:HOVER,magmarow a.edit:FOCUS
	{
	background-image: url(../image/colblack.png);
}

div.magmagrid>table>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td>div>a.edit
	{
	background-image: url(../image/grid.png);
}
div.magmaselect>table>tbody>tr>td>table>tbody>tr>td>div.magmagrid>table>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td>div>a.edit,
td.magmaselect>div.magmagrid>table>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td>div>a.edit,
div.magmagrid>table>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td>div>a.edit:HOVER,magmagrid a.edit:FOCUS
	{
	background-image: url(../image/gridblack.png);
}

/* BUTTON UNDO E REDO IN PANEL 32 X 32 */
div.className_PagePanel a.undo.link_content, div.className_PagePanel a.redo.link_content {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: transparent;
	border: none;
	padding: 0;
}


div.className_PagePanel a.link_content {
	color: #2f69b3;
	padding: 0 5px;	
}
div.className_PagePanel a.link_content:HOVER {
	background-color: transparent;
}

div.className_PagePanel a.undo:HOVER, div.className_PagePanel a.redo:HOVER {
	background-color: #fbf8cb;
}

div.className_PagePanel a.undo {
	background-image: url(../button/undo.png);
}

div.className_PagePanel a.redo {
	background-image: url(../button/redo.png);
}

/* BUTTON UPDATE IN PANEL 25 X 25 */
div.className_Panel a.update {
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: transparent;
	border: none;
	background-image: url(../button/aggiorna.png);
	padding: 0;
}

/* OTHER PANEL BUTTON 31 X 31 */
div#screen_main_body_ClusterPage_panel_children_0_0_add>a.add,div#screen_main_body_ClusterPage_panel_children_0_0_remove>a.remove,a.addCol,a.addGrid,a.addRow,a.addText,a.addAction,a.addTextarea,a.addCheckbox,a.addDate,a.addImage,a.addList,a.addTable,a.topLeft,a.addChart,a.top,a.topRight,a.left,a.center,a.right,a.bottomLeft,a.bottom,a.bottomRight,a.alignTopLeft,a.alignTopCenter,a.alignTopRight,a.alignCenterLeft,a.alignCenterCenter,a.alignCenterRight,a.alignBottomLeft,a.alignBottomCenter,a.alignBottomRight,a.addTitle,a.addLabel,a.addSelect,a.addNumber
, a.addObjectlink, a.addPassword/*,button.hexpand,button.hcompact,button.vexpand,button.vcompact*/ 
{
	width: 31px;
	height: 31px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: transparent;
	border: none;
	padding: 0;
}

a.hexpand,a.hcompact,a.vexpand,a.vcompact {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: transparent;
	border: none;
	padding: 0;
}

div#screen_main_body_ClusterPage_panel_children_0_0_add>a.add {
	background-image: url(../button/add.png);
}

div#screen_main_body_ClusterPage_panel_children_0_0_remove>a.remove
	{
	background-image: url(../button/remove.png);
}

div#screen_main_body_ClusterPage_panel_children_0_0_add>a.add:HOVER,div#screen_main_body_ClusterPage_panel_children_0_0_remove>a.remove:HOVER
{
	background-color: #FFF9D0;
	border-color: #FFE82E;
}

a.addCol {
	background-image: url(../button/col31.png);
}

a.addGrid {
	background-image: url(../button/table31.png);
}

a.addRow {
	background-image: url(../button/row31.png);
}

a.addText {
	background-image: url(../button/text.png);
}

a.addAction {
	background-image: url(../button/action.png);
}

a.addTextarea {
	background-image: url(../button/textarea.png);
}

a.addCheckbox {
	background-image: url(../button/checkbox.png);
}

a.addDate {
	background-image: url(../button/date.png);
}

a.addImage {
	background-image: url(../button/image.png);
}

a.addList {
	background-image: url(../button/list.png);
}

a.addTable {
	background-image: url(../button/table.png);
}

a.addChart {
	background-image: url(../button/chart.png);
}

a.addTitle {
	background-image: url(../button/title.png);
}

a.addLabel {
	background-image: url(../button/label.png);
}

a.addSelect {
	background-image: url(../button/select.png);
}

a.addNumber {
	background-image: url(../button/number.png);
}

a.addObjectlink {
	background-image: url(../button/objectlink.png);
}

a.addPassword {
	background-image: url(../button/password.png);
}

a.topLeft {
	background-image: url(../button/alignTopLeftRED.png);
}

a.top {
	background-image: url(../button/alignTopCenterRED.png);
}

a.topRight {
	background-image: url(../button/alignTopRightRED.png);
}

a.left {
	background-image: url(../button/alignCenterLeftRED.png);
}

a.center {
	background-image: url(../button/alignCenterCenterRED.png);
}

a.right {
	background-image: url(../button/alignCenterRightRED.png);
}

a.bottomLeft {
	background-image: url(../button/alignBottomLeftRED.png);
}

a.bottom {
	background-image: url(../button/alignBottomCenterRED.png);
}

a.bottomRight {
	background-image: url(../button/alignBottomRightRED.png);
}

a.alignTopLeft {
	background-image: url(../button/alignTopLeft.png);
}

a.alignTopCenter {
	background-image: url(../button/alignTopCenter.png);
}

a.alignTopRight {
	background-image: url(../button/alignTopRight.png);
}

a.alignCenterLeft {
	background-image: url(../button/alignCenterLeft.png);
}

a.alignCenterCenter {
	background-image: url(../button/alignCenterCenter.png);
}

a.alignCenterRight {
	background-image: url(../button/alignCenterRight.png);
}

a.alignBottomLeft {
	background-image: url(../button/alignBottomLeft.png);
}

a.alignBottomCenter {
	background-image: url(../button/alignBottomCenter.png);
}

a.alignBottomRight {
	background-image: url(../button/alignBottomRight.png);
}

a.hexpand {
	background-image: url(../button/hexpand.png);
}
a.hcompact {
	background-image: url(../button/hcompact.png);
}
a.vexpand {
	background-image: url(../button/vexpand.png);
}
a.vcompact {
	background-image: url(../button/vcompact.png);
}




/* PANEL CONTAINER STYLE */
.className_MainCompositionPanel,.className_MainSimplePanel {
	position: fixed;
	overflow: auto;
	width: 300px;
	right: 0;
	left: auto;
	top: 0;
	bottom: 0;
}

.className_CompositionPanel,.className_SimplePanel {
	color: #c5d3d7;
	background-color: #333333;
}

.className_PagePanel {
	position: fixed;
	overflow: auto;
	right: 0;
	left: auto;
	bottom: 0px;
	color: #c5d3d7;
	background-color: #333333;
	padding: 0 10px;
}

/* STYLE FOR LABEL OF SIMPLE OBJECT */
.magmalabel {
		padding: 2px;
}

a.magmaaction {
	cursor: pointer;
	font-family: "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 19px;
}

a.magmaaction:HOVER,a.magmaaction:FOCUS
	{
	background-color: #fff9d0;
	border-color: #ffe82e;
}

a.magmaaction {
	border: 1px solid #CADBDF;
	padding: 2px;
	background-color: #F7F9F9;
	color: #333;
}

.magmaempty {
	color: #909090;
}

/* TABLE BUTTON */
.className_Object .add a {
	padding-left: 25px;
	background-image: url(../image/add.gif);
	background-repeat: no-repeat;
	background-position: 6px 1px;
	width: 110px;
}

.className_Object .remove a {
	padding-left: 25px;
	background-image: url(../image/delete.gif);
	background-repeat: no-repeat;
	background-position: 6px 1px;
	width: 110px;
}

.className_Object .up a {
	padding-left: 25px;
	background-image: url(../image/up.gif);
	background-repeat: no-repeat;
	background-position: 6px 1px;
	width: 110px;
}

.className_Object .down a {
	padding-left: 25px;
	background-image: url(../image/down.gif);
	background-repeat: no-repeat;
	background-position: 6px 1px;
	width: 110px;
}

/* MAIN PANEL TABLE */
.className_CssControlPanel table.tableedit_content>tbody>tr>td {
	background-color: #FFFFFF;
	border: 0;
	color: #3D3D3D;
	padding: 0;
	vertical-align: middle !important;
}

.className_CssControlPanel .text,.className_MainPanel .header {
	cursor: text;
	margin: 0;
	font-size: 10px;
	padding: 0;
}

.className_CssControlPanel {
	background-color:#E6EEEE;
}

.className_CssControlPanel table.tableedit_content {
	font-family: arial;
	font-size: 10px;
	text-align: left;
}

.className_CssControlPanel table.tableedit_content {
	width: auto;
}

.className_CssControlPanel input {
	display:block;
	margin: 0;
	padding: 0;
	border: 0;
}

.className_CssControlPanel table.tableedit_content > thead > tr > th {
	border:0 !important;
}
.className_CssControlPanel table.tableedit_content > thead > tr > td {
	border:0;
}

a.addContainerRule, a.removeContainerRule, a.addComponentRule, a.removeComponentRule,
a.addContentRule, a.removeContentRule, a.addMiddleRule, a.removeMiddleRule {
	width: 17px;
	height: 17px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: transparent;
	border: none;
	padding: 0;
}

a.addContainerRule:HOVER, a.removeContainerRule:HOVER, a.addComponentRule:HOVER, a.removeComponentRule:HOVER,
a.addContentRule:HOVER, a.removeContentRule:HOVER {
	background-color: #f5f67b;
}

a.addContainerRule {
	background-image: url(../image/add.gif);
}
a.removeContainerRule {
	background-image: url(../image/remove.gif);
}
a.addComponentRule {
	background-image: url(../image/add.gif);
}
a.removeComponentRule {
	background-image: url(../image/remove.gif);
}
a.addMiddleRule {
	background-image: url(../image/add.gif);
}
a.removeMiddleRule {
	background-image: url(../image/remove.gif);
}
a.addContentRule {
	background-image: url(../image/add.gif);
}
a.removeContentRule {
	background-image: url(../image/remove.gif);
}

/* MAGMA LEAF STYLE */

input.number {
	width: 50px;
}