@CHARSET "ISO-8859-1";

body {
    color: #000000;
    font: 90%/180% 'MuseoSans500',Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
	background: url("../image/background.png") repeat scroll 0 0 #FFFFFF;
}

img {
    display: block;
}

ul {
	list-style-type: none;	
}

.class_Object .action_advancedSearch button > img{
    background-image: url(../image/more.png);
}

.class_Object .action_simpleSearch button > img {
    background-image: url(../image/less.png);
}

.class_Object .action_search button > img{
    background-image: url(../image/search.png);
}

.class_Object .action_create button > img{
    background-image: url(../image/add.png);
}

.class_Object .action_showAll button > img {
    background-image: url(../image/view.png);
}

.class_Object .action_read button > img {
    background-image: url(../image/view.png);
}

.class_Object .action_update button > img {
    background-image: url(../image/edit.png);
}

.class_Object .action_delete button > img {
    background-image: url(../image/remove.png);
}

.class_Object .action_report button > img {
    background-image: url(../image/print.gif);
}

.class_Object .action_exportToCsv button > img {
    background-image: url(../image/CSVCrud.png);
}

.class_Object .action_selectAll button > img {
    background-image: url(../image/selectall.png);
}

.class_Object .action_deselectAll button > img {
    background-image: url(../image/deselectall.png);
}

.class_Object .action_save button > img {
    background-image: url(../image/save.png);
}

.class_Object .action_cancel button > img {
    background-image: url(../image/cancel.png);
}


/* ViewField.disabled */

select:disabled {
    background-color: #f6f6f6;
    border: 1px solid #eee;
}

input:disabled, textarea:disabled {
    background-color: #f6f6f6;
    border: 1px solid #eee;
}

/* Validate.invalid */

.text_content_invalid {
    color: red;
}